/* google font poppins added  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* google  font exo  */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital@1&display=swap');

/* removed default properties  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* style for body  */
body {
  overflow-x: hidden;
  padding:50px;
}

 /* style for brand name  */
#logo-text {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

/* style for all products div  */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

/* style single product */
.product {
  width: 300px;
  padding: 5px;
  transition: 0.6s;
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  height: 100%;
  background-color:#fff9f4;
}

.product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}

.product-image {
  width: 150px;
  height: 150px;
  padding-top: 15px;
}

/* style for my-cart   */

.cart {
  width: 320px;
  border: 1px solid green;
  padding: 10px;
  box-shadow: 10px 10px 20px #fff9f4;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  font-size: 15px;
  background-color: #fff9f4;
}

.cart-main {
  padding-right: 20px;
}

/* meadia query added  */

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }

  .cart-main {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}